* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.loginPage .bg {
  background-image: url(img/pic.jpg);
  background-size: cover;
  position: sticky;
}
.loginPage .text {
  top: 40%;
}
.loginPage .left .fst::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #0a6937;
}
.loginPage .left .scd::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #c8b824;
}
