* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.loginPage .left .fst::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #0a6937;
}
.loginPage .left .scd::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #c8b824;
  transition: 0.3s;
}
.loginPage .left .scd:hover::before {
  background: #0a6937;
}
input:focus {
  box-shadow: 0 0 10px #1db7797a;
}
.head .list {
  position: relative;
}
@media (min-width: 1022px) {
  .head .list::before {
    position: absolute;
    content: "";
    background: #0a6937;
    height: 100%;
    width: 123px;
    left: -123px;
    z-index: -2;
  }
}
@media (max-width: 1022px) {
  .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: #0a6937;
    transition: 1s;
    z-index: 10;
  }
}
@media (min-width: 991px) {
  .intro {
    border-radius: 0 0 30% 45%;
  }
}
